{% load staticfiles %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <script src= '{% static 'editor/jquery-3.2.1.js'%}'></script>

  <link type="text/css" rel="stylesheet" href="{% static 'editor/123.css'%}">

</head>
<body>

  <h3>账号登陆</h3>
  <form id="login-from" method="post" action="{% url 'editor:my_view' %}">
    {% csrf_token %}
    <input id="username" class="user-name" name="username" type="text" placeholder="输入用户名">
    <input id="password" class="pass-word" name="password" type="text" placeholder="输入密码">
    <button class="logging" type="submit" >登陆</button>

      {% if message %}
      <h2 > {{ message }} </h2>
      {% endif %}

  </form>
</body>
</html>
