{% load staticfiles %}
﻿<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>求职</title>

<link rel="stylesheet" href="{% static 'editor/style.css'%}">
<link rel="stylesheet" href="{% static 'editor/prettify.css'%}">
</head>
<body >
<nav>
  <div class="container">
    <h1>项目</h1>
    <div id="menu">
      <ul class="toplinks">
        <li><a href="#">Git Hub</a></li>
        <li><a href="http://www.egrappler.com/">CSDN</a></li>
      </ul>
    </div>
    <a id="menu-toggle" href="#" class=" ">&#9776;</a> </div>
</nav>
<header>
  <div class="container">
    <h2 class="docs-header"> 李国政的个人简历</h2>
  </div>
</header>
<section>
  <div class="container">
    <ul class="docs-nav" id="menu-left">
      <li><strong>项目列表</strong></li>
      <li><a href="https://github.com/alien10086/Snake/wiki" class=" ">2D小游戏Snake</a></li>
      <li><a href="../login" class=" ">博客应用</a></li>
      <li><a href="https://github.com/alien10086/hack-assembler" class=" ">编译原理练习</a></li>
      <li><a href="https://github.com/alien10086/PythonCrawler" class=" ">Python爬虫</a></li>
      <li class="separator"></li>
    </ul>
    <div class="docs-content">
      <h2> 求职意向</h2>
      <h3 id="welcome"> WEB后端开发</h3>
      <h4> 毕业院校</h4>
      <p> 东北农业大学  2014-2018  本科  国际贸易专业</p>
      <a href="#" class="btn">技能总结</a>
      <p> WEB开发基础</p>
      <ul>
        <li>Django框架</li>
        <li>MySql</li>
        <li>HTML&css</li>
        <li>JavaScript</li>
      </ul>
      <p> 以Django框架作为基础开发了一个博客应用.拥有着注册,登陆,写文章,修改文章
      ,删除文章的功能. </p>
      <h3 id="features"> Snake</h3>
      <ul>
        <li>Java语言基础</li>
        <li>Java AWT库</li>
      </ul>
      <p>完成了一个2d简陋的小游戏. </p>
      <a href="http://www.filedropper.com/snake_2">下载链接 </a>
      <hr>




    </div>
  </div>
</section>
<section class="vibrant centered">
  <div class="container">
    <h4>  <a href="#"></a></h4>
  </div>
</section>
<footer>
  <div class="container">
    <p> &copy; 2014 EGrappler | More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a></p>
  </div>
</footer>
</body>
</html>
